/* Reset de estilos padrão do navegador */
body, h1, h2, p, ul, li, form, input, button, label {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; 
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para cabeçalho */
header {
    background-color: #003366; 
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

nav h1 {
    font-size: 24px;
}

.navbar ul {
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin-right: 20px;
}

/* Estilos para imagens */
.img {
    max-width: 100%;
    height: auto;
    display: block; 
    margin: 0 auto; 
}
/* Estilos para o corpo */
main {
    padding: 20px;
}

/* Estilos para seções */
section {
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center; 
}
ul {
    list-style: none;
}

/* Estilos para rodapé */
footer {
    background-color: #003366; 
    color: #fff;
    padding: 20px 0;
    text-align: center; 
}
footer p {
    margin-bottom: 10px;
}

/* Estilos para formulários e labels */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    color: #333;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none; 
}

input[type="submit"] {
    display: block;
    margin: 0 auto; 
    padding: 10px;
    background-color: #003366; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botao, input[type="submit"]:hover {
    background-color: #001f4d; 
}
/* Estilos para o botão "Enviar" no formulário da newsletter */
footer form button[type="submit"] {
    display: block;
    margin: 0 auto; 
    padding: 10px 20px; 
    background-color: #003366; 
    color: #fff; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
}

footer form button[type="submit"]:hover {
    background-color: #001f4d; 
}

body.login {
    background: url('../images/woman-with-diagrams-office.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0; 
    display: absolute;
    justify-content: center; 
    align-items: center; 
}

/* Estilos para o formulário de login */
form.form {
    max-width: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
}
body.cadastro {
    background: url('../images/women-working-together-country-side.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0; 
    display: absolute;
    justify-content: center; 
    align-items: center; 
}
form.cadastro-form {
    max-width: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}


.bloco {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
    display: inline-block; /* Adicione esta linha */
    margin-right: 52px; /* Adicione margem direita se desejar espaçamento */
}

   .detalhe-bloco {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   
   .botao-bloco {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #001f4d;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   
   .texto-corpo {
    color: rgb(134, 134, 134);
   }
   
   /*Text*/
   .titulo {
    font-size: 1.5em;
    font-weight: bold;
   }
   
   /*Hover*/
   .bloco:hover {
    border-color: #001f4d;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    
   }
   
   .bloco:hover .botao-bloco {
    transform: translate(-50%, 50%);
    opacity: 1;
    cursor: pointer;
   }
