html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f4f4f4;
}
.img_logo{
    width: 40px;
    height: 40px;
}
.image {
    max-width: 100%;
    height: auto;
}

nav{
    padding-top: 0;
    width: 80vw;
    display: flex;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    background-color: white;
}

a{
    position: relative;
    text-decoration: none;
    font-size: 18px;
    color : #222;
    letter-spacing: 5px;
    padding: 0 20px;
    cursor: pointer;
}
a::before,
a::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    background: rgb(28, 100, 201);
    transition: .5s;
}
a::after{
    left: 0;
    bottom: -10px;
}
a::before{
    right: 0;
    top: -10px;
}
a:hover:after,
a:hover::before{
    width: 100%;
}
.slide_img{
    
    height: 570px;
    width: 935px;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 97vw;
}
.nav_slides{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    
}
.barra{
    width: 70px;
    height: 8px;
    border: solid white;
    margin: 3px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}
.barra:hover{
    background: #fff;
}
input{
    display: none;
}